.status-privated {
  color: #555555;
  margin-left: 1rem;
}

.status-quarantined {
  color: #999900;
  margin-left: 1rem;
}

.status-banned {
  color: #880000;
  margin-left: 1rem;
}

div {
  /* border-style: 	solid; */
  /* border-color: 	#000000; */
  /* border-width:	1px; */
}

.border {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

a:link {
  color: #279cb0;
  text-decoration: none;
}
a:visited {
  color: #0f3d45;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: underline;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: medium;
  background-color: #fafafa;
}

.imageLogo {
  display: block;
  margin: 30px auto 20px auto;
  position: relative;
  left: -10px;
}

.mainLayout {
  vertical-align: top;
}
.menuFrameWrapper {
  vertical-align: top;
  padding-left: 100px;

  background-color: #006b7f;
  color: #ffffff;
}

.mainFrameWrapper {
  vertical-align: top;

  padding-left: 40px;
  padding-top: 40px;
}

div.menuSection {
  white-space: nowrap;
  cursor: pointer;
  line-height: 25px;
  margin-top: 5px;
  font-size: 1.2em;
  /* height:			3em; */
}

div.menuSectionHover {
  font-size: 1.25em !important;
  position: relative;
  left: -1px;
}

div.menuType {
  white-space: nowrap;
  margin-left: 15px;
  margin-top: 5px;
  line-height: 20px;
}

span.menuType {
  cursor: pointer;
  font-size: 1em;
}

span.menuTypeHover {
  font-size: 1.05em !important;
  position: relative;
  left: -1px;
}

div.menuTag {
  white-space: nowrap;
  line-height: 14px;
  margin-left: 30px;
  padding: 0px;
}

span.menuTag {
  cursor: pointer;
  font-size: 0.8em;
}

span.menuTagHover {
  font-size: 0.85em !important;
  /* position: 		relative; */
  /* left: 			-1px; */
}

/* .menuHover { */
/* font-size:		105%; */
/* position: 		relative; */

/* left: 			-1px; */
/* } */

.menuReset {
  margin-top: 30px;
  margin-right: 45px;
  font-size: smaller;
  text-align: center;
}

.listItem {
  font-size: smaller;
}

.button {
  cursor: pointer;

  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
  position: relative;

  background-repeat: no-repeat;
  background-position: center;
}

.bold {
  font-weight: bold;
}

/* Main Frame */
.banner {
  margin: 0px 0px 20px 20px;
}

.header {
  font-size: x-large;
}

.description {
  font-size: small;
  margin-bottom: 10px;
}

.patreonHeader {
  font-size: small;
  margin-left: 20px;
  margin-bottom: 10px;
}

.patreonHeader a:link {
  color: #006b7f;
  text-decoration: underline;
}

.patreonHeader a:visited {
  color: #006b7f;
  text-decoration: underline;
}

.patreonHeader a:hover {
  color: #006b7f;
  text-decoration: underline;
}

.patreonHeader a:active {
  color: #006b7f;
  text-decoration: underline;
}

.patreonLink {
  font-size: medium;
  margin-bottom: 10px;
}

.patrons {
  margin-bottom: 10px;
  margin-left: 20px;
}

.patron {
  font-size: small;
  margin-left: 10px;
}

.tagname {
  font-size: large;
}

::selection {
  background: #00849d; /* WebKit/Blink Browsers */
  color: #ffffff;
}

.floatingDiv {
  /* background-color: #006B7F; */
  background-color: #00849d;
  border-color: #000000;
  padding: 5px;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;

  font-size: smaller;
  font-weight: normal;
}

.settingsLabel {
  text-align: right;
  vertical-align: top;
}

.settingsInput {
  margin-left: 3px;
  margin-right: 3px;
}

input.checkbox {
  position: relative;
  top: 2px;
}

.textInput {
  width: 60px;
}

.colorDisp {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 4px;

  border-style: solid;
  border-color: #a9a9a9;
  border-width: 1px;
}

.colorDispHover {
  width: 32px;
  height: 22px;
  top: 3px;
  left: -1px;
}

div.colorPicker {
  display: table;
}

div.colorBox {
  width: 10px;
  height: 10px;
  margin: 5px;
  display: table-cell;
  font-size: 1%;
}
